altair
attrs
beautifulsoup4
blinker
branca
cachetools
certifi
charset-normalizer
click
contourpy
cycler
entrypoints
Faker
favicon
folium
fonttools
geopandas
gitdb
GitPython
htbuilder
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
mdurl
more-itertools
narwhals
nltk
numpy
packaging
pandas
pillow
pip
plotly
prometheus_client
protobuf
pyarrow
pydeck
Pygments
pymdown-extensions
pyogrio
pyparsing
pyproj
python-dateutil
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
seaborn
setuptools
shapely
six
smmap
soupsieve
statsmodels
st-annotated-text
st-theme
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
tenacity
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
validators
watchdog
wheel
xyzservices
